html {
    font-size: 1.5vh;
}

#map {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    float: left;
}

.mapcontainer{
    height: 45%;
}

.wrapper {
    display: grid;
}

.container {
    height: 90vh;
    width: 90vw;
    padding-top: 5vh;
    padding-left: 5vh;
    padding-bottom: 5vh;
    padding-right: 5vh;
    background-color:white;
    margin-top: 5vh;
    margin-bottom: 5vh;

}
.restaurant-container  {
    width: 100%;
    display: grid;
}
.restaurant {
    text-align: center;
    width: 100%;
}
.restaurant-container > p {
    margin-bottom: 0.05em;
}
.restaurant-info-container {
    overflow: auto;
}

.restaurant-page{
    width: 100%;
    display: inline-block;
}

.restaurant-info {
    padding-left: 20%;
    display: block;
}


.weather {
    height: 35%;
}

.col{
    display: flex;    
    height: 100%;
}
.col-p {
    padding: 1vh;
    height: 100%;
}

body{
    background-color: #f5f5f5;
}

.border {
    border-width: 10px;
}

.forecast {
    float:left;
    width:80%;
    height: 100%;
    padding-top:5%;
    text-align:center;
}

.dailyForecastContainer {
    width:33%;
    height:100%;
    display:flex;
}

.weatherIcon {
    width: 45%;
    height: 45%
}

.weatherInfo {
    height: 45%;
    padding-top: 5%;
    display: flex;
    align-items: flex-end;
}
